RewriteEngine On
RewriteBase "/"
RewriteCond "%{QUERY_STRING}" !anchor
RewriteCond "%{QUERY_STRING}" "^$"
RewriteRule ^$ /?anchor%{QUERY_STRING}#start [R=301,NE]
RewriteCond "%{QUERY_STRING}" !anchor
RewriteCond "%{QUERY_STRING}" !"^$"
RewriteRule ^$ /?anchor&%{QUERY_STRING}#start [R=301,NE]

#RewriteRule ^.*\.pdf$ http://forumweb.pl [R=301,NE]
